<!doctype html>
<head>
  <meta charset="utf-8">
  <title>group 21</title>
  <link rel="stylesheet" href="http://code.divshot.com/geo-bootstrap/swatch/bootstrap.css" /> 
  <style type="text/css" media="screen">
    html, body{
      background: #FFEFFF;
    }
  </style>
</head>
<body id="top" class="preview" data-spy="scroll" data-target=".subnav" data-offset="80" >
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container" style="width: auto;">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Group 21 Sensor</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Sensor Readings</a></li>
          <li><a href="#">Link</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="#"><img src="http://code.divshot.com/geo-bootstrap/img/test/hot.gif"></a></li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>
<div class="container">
  <header class="jumbotron subhead">
    <!--<h1>Hello from Flask</h1>-->
    <h1>
      <font color="#FF0000">H</font>
      <font color="#FF5A00">e</font>
      <font color="#FFB400">l</font>
      <font color="#FFff00">l</font>
      <font color="#A5ff00">o</font>
      <font color="#FF0000"> </font>
      <font color="#4Bff00">f</font>
      <font color="#00ff00">r</font>
      <font color="#FF0000">o</font>



    </h1>
  </header>


  {% if name %}
    <h2>Hello {{ name }}!</h2>
  {% else %}
    <h2>Hello, World!</h2>
  {% endif %} <br>


  <marquee>
    <img src="http://code.divshot.com/geo-bootstrap/img/test/mchammer.gif">
    <img src="http://code.divshot.com/geo-bootstrap/img/test/mchammer.gif">
    <img src="http://code.divshot.com/geo-bootstrap/img/test/mchammer.gif">
  </marquee>

</div>
</body>