<!doctype html>
<head>
  <meta charset="utf-8">
  <title>group 21</title>
  <link rel="stylesheet" href="http://code.divshot.com/geo-bootstrap/swatch/bootstrap.css" /> 
  <style type="text/css" media="screen">
    html, body{
      background: #FFEFFF;
    }
  </style>
</head>
<div class="container">
<div class="navbar">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Group 21 Sensor</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#">Sensor Readings</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>

  <title>Hello from Flask</title>
  {% if name %}
    <h1>Hello {{ name }}!</h1>
  {% else %}
    <h1>Hello, World!</h1>
  {% endif %}
  <marquee>
    <img src="http://code.divshot.com/geo-bootstrap/img/test/mchammer.gif">
    <img src="http://code.divshot.com/geo-bootstrap/img/test/mchammer.gif">
    <img src="http://code.divshot.com/geo-bootstrap/img/test/mchammer.gif">
  </marquee>

</div>
